<!DOCTYPE html>
<html>

  <head>
    <title>Welcome to the MongoDB Data Replicator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="images/newapp-icon.png">
        </td>
        <td>
          <h1 id="message">Application is running and replicating Data from Source Mongo DB</h1>
          <p id="message"><%= source %></p>
          <h1 id="message">to the target MongoDB</h1>
          <p id="message"><%= target %></p>
          <h1 id="message">Replication Latency set to <%= latency %> seconds</h1>
        </td>
      </tr>
    </table>
  </body>
</html>
